/* Pseudo classes

:active - quando o elemento está ativo, ou seja, está sendo pressionado
:visited - seleciona o link que foi visitado
:hover - quando o mouse passe em cima do elemento
:checked - usado em radio / checkbox / select
:disabled - elemento desabilitado / button / input
:enabled - elemento está habilitado
:focus - é aplicado quando um elemento recebe foco, o que pode ocorrer quanto um usuário seleciona o elemento
:read-only - seleciona input ou texto area que são apenas leitura
:empty - elemento que não tem filho

:first-child - primeiro filho / ex: primeira li de uma ul / primeiro span de uma div
:first-of-type - primeiro elemento de seu tipo entre os filhos de seu elemento pai
:last-child - último filho
:last-of-type - último elemento de seu tipo entre os filhos de seu elemento pai
:not() - estiliza os elementos, exceto o que está dentro do ()
:nth-child() - seleciona o elemento baseado na sua posição. Ex: :nth-child(3)
:nth-last-child() - seleciona o elemento beaseado na sua posição, contando de trás pra frente.
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:checked {
    width: 100px;
    height: 100px;
}

.container:empty {
    background: blue;
}

li:first-child {
    color: red;
}

span:first-of-type {
    color: red;
}

p:first-of-type {
    color: blue;
}

li:last-child {
    color: pink;
}

.container :not(p) {
    color: red;
}

li:nth-child(3) {
    color:brown;
}

li:nth-last-child(3) {
    color: green;
}