.box {
    width: 50px;
    height: 50 px;
    background: #FF1493;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 5px;

    margin: 10px  50px 30px 5px;
    /* .....12h...15h..18h..21h...*/

}

